# Import Libraries

In [1]:
# Import the libraries
import pandas as pd
import numpy as np
from dateutil import relativedelta as rel
import regex as re
pd.set_option('display.float_format', lambda x: '%.2f' % x)

# Data Preparation - Import Files

In [2]:
# Read the Excel file
file_path1 = r'C:\Users\Dylanfth\Downloads\Python Training\facility_data.xlsx'
facility_df = pd.read_excel(file_path1)

file_path2 = r'C:\Users\Dylanfth\Downloads\Python Training\applicant_data.xlsx'
applicant_df = pd.read_excel(file_path2)

file_path3a = r'C:\Users\Dylanfth\Downloads\Python Training\bureau_data.xlsx'
bureau_raw = pd.read_excel(file_path3a)

file_path3b = r'C:\Users\Dylanfth\Downloads\Python Training\bureau_df_edited.xlsx'
bureau_df = pd.read_excel(file_path3b)

file_path4 = r'C:\Users\Dylanfth\Downloads\Python Training\performance_data.xlsx'
performance_df = pd.read_excel(file_path4)

# Display the DataFrame
print('----------------------------FACILITY RAW DATA----------------------------')
display(facility_df)
print('----------------------------APPLICANT RAW DATA----------------------------')
display(applicant_df)
print('----------------------------BUREAU RAW DATA----------------------------')
display(bureau_raw)
print('----------------------------BUREAU DATA (EDITED)----------------------------')
display(bureau_df)
print('----------------------------PERFORMANCE RAW DATA----------------------------')
display(performance_df)

----------------------------FACILITY RAW DATA----------------------------

,FINANCIAL_APPLICATION_RK,FACILITY_ID,APPROVED_BY,FACILITY_DESC,APPLIED_AMT,APPROVED_LOAN_AMT,LOAN_TERM_MTHS_CNT,FACILITY_STATUS,FACILITY_STATUS_DT,PERF_START_DT,PERF_WINDOW,UPDATE_DTTM
0,8590626,AAA/000001/24,HO,BAE AG-I,10000,10000,120,APPROVED,2019-07-25,2019-08-01,24.00,31/7/2019 0:00
1,10137700,BBB/000001/25,BR,HOME EQUITY FINANCING-I/HOMEVR (REDRAW),250126,250126,396,APPROVED,2022-01-01,2022-01-01,12.00,31/1/2022 0:00
2,6700942,CCC/000001/26,HO,HP,44600,44600,108,APPROVED,2016-07-12,2016-08-01,36.00,31/7/2016 0:00
3,9590626,DDD/000001/27,BR,HOME EQUITY FINANCING-I/HOMEVR (REDRAW),284687,284687,336,APPROVED,2021-03-04,2021-04-01,12.00,31/3/2021 0:00
4,9590626,DDD/000002/27,BR,OD/HOME,52133,48153,120,APPROVED,2021-03-04,2021-04-01,12.00,31/3/2021 0:00
5,10136613,EEE/000001/28,HO,HL/HOME10 NON PRCB (REDRAW),767111,767111,396,APPROVED,2022-03-11,2022-04-01,18.00,31/3/2022 0:00
6,9876543,FFF/000001/28,HO,FL,1200000,1200000,240,APPROVED,2023-03-23,2023-04-01,6.00,31/3/2023 0:00
7,12345678,GGG/000001/28,HO,BG/SWIFFT,150000,150000,36,REJECTED BY CUSTOMER,2024-01-17,NaT,NaN,31/1/2024 0:00

----------------------------APPLICANT RAW DATA----------------------------

,FINANCIAL_APPLICATION_RK,APPLICANT_RK,X_APPLICANT_TYPE,BIRTH_DT,GENDER_CD,X_APPLICANT_LOCATION,PRIMARY_CITIZENSHIP_COUNTRY_CD,MARITAL_STATUS_CD,X_NATURE_OF_JOB,X_OCCUPATION,...,X_VARIABLE_OVERTIME_AMT,X_TAX_AMT,X_STATUTORY_DEDUCTIONS_EPF,X_STATUTORY_DEDUCTIONS_SOCSO,CURR_EMPLOYMENT_YEARS_CNT,X_PREV_EMPLOY_YEARS_CNT,X_GAP_CURR_PREV_EMPLOY_MTH_CNT,X_ASCORE_SEQ,X_MASCO_OCCUPAT_CD,X_UPDATE_DTTM
0,6700942,4309779,APPLICANT,1965-10-25,F,NON-URBAN,MY - MALAYSIA,SINGLE,MANAGERIAL,CLERICAL/NON CLERICAL,...,367.78,NaN,160.00,12.25,15,NaN,NaN,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,NaN,2016-07-31
1,10136613,5786152,APPLICANT,1984-03-20,M,URBAN,MY - MALAYSIA,MARRIED,SELF-EMPLOYED / BUSINESS OPERATORS WITH SUBSTA...,CAR/ MOTORBIKE WORKSHOPS/ AUTO-PARTS/ AC,...,0.00,1083.00,0.00,0.00,11,9.00,NaN,20240301112406dc6a1702666045e0b363106850a5539e,1455.00,2022-03-31
2,8590626,5786162,APPLICANT,1984-03-26,M,URBAN,MY - MALAYSIA,MARRIED,CRAFT / SEMI-SKILLED WORKERS / CLERICAL / SERV...,GENERAL OFFICE CLERKS - 04110,...,0.00,0.00,0.00,0.00,12,1.00,14.00,20230901193945mcme7153999075e0b3,4110.00,2019-07-31
3,8590626,5786162,APPLICANT,1984-03-26,M,URBAN,MY - MALAYSIA,MARRIED,CRAFT / SEMI-SKILLED WORKERS / CLERICAL / SERV...,GENERAL OFFICE CLERKS - 04110,...,0.00,0.00,0.00,0.00,13,NaN,NaN,NaN,4110.00,2020-04-30
4,10137700,5786164,APPLICANT,1984-03-27,M,URBAN,MY - MALAYSIA,MARRIED,SUPERVISORY / EXECUTIVE / SALES EXECUTIVES / T...,TECHNICIANS - 03136,...,971.00,0.00,279.00,28.00,1,6.00,3.00,20240116150210f25c3d4aaca74ccec033fbbc070006,3136.00,2022-01-31
5,10137700,8715233,APPLICANT,1970-08-01,F,URBAN,MY - MALAYSIA,SINGLE,SELF-EMPLOYED / BUSINESS OPERATORS WITHOUT SUB...,SOLE-PROPRIETOR,...,0.00,NaN,NaN,NaN,15,NaN,NaN,NaN,NaN,2022-01-31
6,9590626,3374152,GUARANTOR,1995-08-25,F,URBAN,SG - SINGAPORE,SINGLE,PROFESSIONAL,DENTISTS,...,NaN,1350.00,490.00,25.00,3,4.00,12.00,NaN,NaN,2023-09-30
7,9590626,1786162,APPLICANT,1984-03-26,M,NON-URBAN,MY - MALAYSIA,MARRIED,CRAFT / SEMI-SKILLED WORKERS / CLERICAL / SERV...,GENERAL OFFICE CLERKS - 04110,...,0.00,0.00,0.00,0.00,13,NaN,NaN,20240116150217ae74e0f25c3d474ccec033fbbc070004,4110.00,2020-03-31

----------------------------BUREAU RAW DATA----------------------------

,X_ASCORE_SEQ,Bureau_Report_Pull_Dt,SECTION_KEY,ROW_NO,APPR_RNR_DT,STS,CAPACITY,LENDER_TYPE,FACILITY_CD,OUTSTANDING_BALANCE,...,M6,M7,M8,M9,M10,M11,M12,LGL_STS,LGL_STS_DT,SEQ_NO
0,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,2022-10-25 10:28:25,Application for Credit,1.00,2022-10-18,P,Own,CB,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,1
1,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,2022-10-25 10:28:25,Outstanding Credit,1.00,2006-04-23,NaN,Own,CB,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.00,2013-12-18,0
2,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,2022-10-25 10:28:25,Outstanding Credit,1.00,NaT,O,NaN,NaN,CRDTCARD,999.00,...,2.00,2.00,1.00,0.00,0.00,0.00,0.00,NaN,NaT,1
3,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,2022-10-25 10:28:25,Outstanding Credit,2.00,2016-11-24,NaN,Own,CB,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0
4,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,2022-10-25 10:28:25,Outstanding Credit,2.00,NaT,O,NaN,NaN,CRDTCARD,13218.00,...,2.00,0.00,0.00,0.00,1.00,0.00,0.00,NaN,NaT,1
5,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,2022-10-25 10:28:25,Outstanding Credit,2.00,NaT,O,NaN,NaN,CRDTCARD,200.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaT,2
6,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,2022-10-25 10:28:25,Outstanding Credit,3.00,2017-03-07,NaN,Own,OWN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0
7,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,2022-10-25 10:28:25,Outstanding Credit,3.00,NaT,O,NaN,NaN,HSLNFNCE,395844.00,...,0.00,0.00,0.00,1.00,0.00,0.00,0.00,NaN,NaT,1
8,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,2022-10-25 10:28:25,Outstanding Credit,4.00,2017-06-09,NaN,Own,CB,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0
9,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,2022-10-25 10:28:25,Outstanding Credit,4.00,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,1
10,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,2022-10-25 10:28:25,Outstanding Credit,4.00,NaT,O,NaN,NaN,OVRDRAFT,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaT,2
11,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,2022-10-25 10:28:25,Outstanding Credit,5.00,2017-11-30,NaN,Own,CB,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0
12,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,2022-10-25 10:28:25,Outstanding Credit,5.00,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,1
13,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,2022-10-25 10:28:25,Outstanding Credit,5.00,NaT,O,NaN,NaN,HSLNFNCE,4306.00,...,4.00,5.00,6.00,7.00,0.00,0.00,0.00,NaN,NaT,2
14,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,2022-10-25 10:28:25,Outstanding Credit,6.00,2021-07-05,NaN,Own,CB,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0
15,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,2022-10-25 10:28:25,Outstanding Credit,6.00,2022-06-30,C,NaN,NaN,HSLNFNCE,853321.00,...,0.00,0.00,2.00,2.00,0.00,0.00,0.00,NaN,NaT,1
16,20240301112406dc6a1702666045e0b363106850a5539e,2023-10-25 00:00:00,Special Attention Account,1.00,2014-02-06,W,Own,OTH,BACUSPCH,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,1
17,20240116150217ae74e0f25c3d474ccec033fbbc070004,2023-10-31 00:00:10,Outstanding Credit,1.00,2016-12-14,NaN,Own,RCB,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0
18,20240116150217ae74e0f25c3d474ccec033fbbc070004,2023-10-31 00:00:10,Application for Credit,1.00,2023-06-20,P,Own,RCB,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,1
19,20240116150217ae74e0f25c3d474ccec033fbbc070004,2023-10-31 00:00:10,Outstanding Credit,1.00,NaT,O,NaN,NaN,OTLNFNCE,15641.00,...,2.00,2.00,2.00,1.00,1.00,0.00,0.00,NaN,NaT,1
20,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,1.10,2008-01-05,NaN,Own,OWN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,1
21,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,1.10,NaT,O,NaN,NaN,RVVGCRDT,18.00,...,0.00,1.00,3.00,0.00,NaN,NaN,NaN,NaN,NaT,2
22,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,2.10,2009-05-06,NaN,Own,OWN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,1
23,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,2.10,NaT,O,NaN,NaN,TRECEIPT,219954.00,...,3.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaT,2
24,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,3.10,2010-08-26,NaN,Own,OWN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,1
25,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,3.10,NaT,O,NaN,NaN,TRECEIPT,4853.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaT,2
26,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,4.10,2012-01-16,NaN,Own,OWN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.00,2021-01-05,1
27,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,4.10,NaT,O,NaN,NaN,TRECEIPT,73515.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaT,2
28,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,5.10,2013-06-19,NaN,Own,Own,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,1
29,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,5.10,NaT,O,NaN,NaN,FLRSTCKG,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaT,2
30,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,6.10,2013-07-03,NaN,Own,OWN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,1
31,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,6.10,NaT,O,NaN,NaN,FLRSTCKG,180153.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaT,2
32,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,7.10,2013-07-03,NaN,Own,OWN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,1
33,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,7.10,NaT,O,NaN,NaN,FACTORNG,81323.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaT,2
34,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,8.10,2013-08-06,NaN,Own,OWN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,1
35,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,8.10,NaT,K,NaN,NaN,RVVGCRDT,232608.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaT,2
36,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,9.10,2013-06-14,NaN,Joint,OWN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,1
37,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,9.10,NaT,K,NaN,NaN,RVVGCRDT,165601.00,...,0.00,3.00,0.00,0.00,0.00,0.00,0.00,NaN,NaT,2
38,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,10.10,2014-07-02,NaN,Own,OWN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.00,2022-01-05,1
39,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,10.10,NaT,O,NaN,NaN,RVVGCRDT,358382.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaT,2
40,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,11.10,2014-07-04,NaN,Joint,OWN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.00,2022-03-05,1
41,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,11.10,NaT,O,NaN,NaN,FACTORNG,176952.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaT,2
42,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,12.10,2014-11-03,NaN,Own,OWN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.00,2022-03-05,1
43,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,12.10,NaT,O,NaN,NaN,TRECEIPT,312584.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaT,2
44,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,13.10,2017-02-07,NaN,Partner,OWN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.00,2023-03-05,1
45,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,13.10,NaT,K,NaN,NaN,TRECEIPT,2070226.00,...,3.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaT,2
46,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,14.10,2017-11-21,NaN,Own,OWN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.00,2022-04-05,1
47,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,14.10,NaT,O,NaN,NaN,TRECEIPT,197423.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaT,2
48,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,1.20,2008-01-05,NaN,Own,OWN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.00,2022-07-08,1
49,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,1.20,NaT,O,NaN,NaN,RVVGCRDT,18.00,...,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaT,2
50,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,2.20,2009-05-06,NaN,Own,RCB,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.00,2021-08-08,1
51,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,2.20,NaT,O,NaN,NaN,TRECEIPT,219954.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaT,2
52,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,3.20,2010-08-26,NaN,Prof,RMB,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.00,2022-09-09,1
53,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,3.20,NaT,O,NaN,NaN,TRECEIPT,4853.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaT,2
54,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,4.20,2012-01-16,NaN,Sole,OWN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.00,2021-01-07,1
55,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,4.20,NaT,O,NaN,NaN,TRECEIPT,73515.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaT,2

----------------------------BUREAU DATA (EDITED)----------------------------

,X_ASCORE_SEQ,Bureau_Report_Pull_Dt,SECTION_KEY,ROW_NO,APPROVAL_DT,RNR_DT,ADDITIONAL_STS_CD,CAPACITY,LENDER_TYPE,FACILITY_CD,...,ACCOUNT_CONDUCT_M5,ACCOUNT_CONDUCT_M6,ACCOUNT_CONDUCT_M7,ACCOUNT_CONDUCT_M8,ACCOUNT_CONDUCT_M9,ACCOUNT_CONDUCT_M10,ACCOUNT_CONDUCT_M11,ACCOUNT_CONDUCT_M12,LEGAL_STATUS_CD,LEGAL_STATUS_DT
0,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,2022-10-25 10:28:25,Application for Credit,1.00,2022-10-18,NaT,P,Own,CB,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,2022-10-25 10:28:25,Outstanding Credit,1.00,2006-04-23,NaT,O,Own,CB,CRDTCARD,...,1.00,2.00,2.00,1.00,0.00,0.00,0.00,0.00,21.00,2013-12-18
2,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,2022-10-25 10:28:25,Outstanding Credit,2.00,2016-11-24,NaT,O,Own,CB,CRDTCARD,...,2.00,2.00,0.00,0.00,0.00,1.00,0.00,0.00,NaN,NaT
3,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,2022-10-25 10:28:25,Outstanding Credit,2.00,2016-11-24,NaT,O,Own,CB,CRDTCARD,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaT
4,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,2022-10-25 10:28:25,Outstanding Credit,3.00,2017-03-07,NaT,O,Own,OWN,HSLNFNCE,...,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,NaN,NaT
5,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,2022-10-25 10:28:25,Outstanding Credit,4.00,2017-06-09,NaT,O,Own,CB,OVRDRAFT,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaT
6,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,2022-10-25 10:28:25,Outstanding Credit,5.00,2017-11-30,NaT,O,Own,CB,HSLNFNCE,...,3.00,4.00,5.00,6.00,7.00,0.00,0.00,0.00,NaN,NaT
7,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,2022-10-25 10:28:25,Outstanding Credit,6.00,2021-07-05,2022-06-30,C,Own,CB,HSLNFNCE,...,0.00,0.00,0.00,2.00,2.00,0.00,0.00,0.00,NaN,NaT
8,20240301112406dc6a1702666045e0b363106850a5539e,2023-10-25 00:00:00,Special Attention Account,1.00,2014-02-06,NaT,W,Own,OTH,BACUSPCH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
9,20240116150217ae74e0f25c3d474ccec033fbbc070004,2023-10-31 00:00:10,Application for Credit,1.00,2023-06-20,NaT,P,Own,RCB,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
10,20240116150217ae74e0f25c3d474ccec033fbbc070004,2023-10-31 00:00:10,Outstanding Credit,1.00,2016-12-14,NaT,O,Own,RCB,OTLNFNCE,...,1.00,2.00,2.00,2.00,1.00,1.00,0.00,0.00,NaN,NaT
11,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,1.10,2008-01-05,NaT,O,Own,OWN,RVVGCRDT,...,0.00,0.00,1.00,3.00,0.00,NaN,NaN,NaN,NaN,NaT
12,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,1.20,2008-01-05,NaT,O,Own,OWN,RVVGCRDT,...,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,10.00,2022-07-08
13,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,2.10,2009-05-06,NaT,O,Own,OWN,TRECEIPT,...,0.00,3.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaT
14,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,2.20,2009-05-06,NaT,O,Own,RCB,TRECEIPT,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,10.00,2021-08-08
15,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,3.10,2010-08-26,NaT,O,Own,OWN,TRECEIPT,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaT
16,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,3.20,2010-08-26,NaT,O,Prof,RMB,TRECEIPT,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,10.00,2022-09-09
17,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,4.10,2012-01-16,NaT,O,Own,OWN,TRECEIPT,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,10.00,2021-01-05
18,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,4.20,2012-01-16,NaT,O,Sole,OWN,TRECEIPT,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,10.00,2021-01-07
19,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,5.10,2013-06-19,NaT,O,Own,Own,FLRSTCKG,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaT
20,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,6.10,2013-07-03,NaT,O,Own,OWN,FLRSTCKG,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaT
21,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,7.10,2013-07-03,NaT,O,Own,OWN,FACTORNG,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaT
22,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,8.10,2013-08-06,NaT,K,Own,OWN,RVVGCRDT,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaT
23,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,9.10,2013-06-14,NaT,K,Joint,OWN,RVVGCRDT,...,0.00,0.00,3.00,0.00,0.00,0.00,0.00,0.00,NaN,NaT
24,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,10.10,2014-07-02,NaT,O,Own,OWN,RVVGCRDT,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,10.00,2022-01-05
25,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,11.10,2014-07-04,NaT,O,Joint,OWN,FACTORNG,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,10.00,2022-03-05
26,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,12.10,2014-11-03,NaT,O,Own,OWN,TRECEIPT,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,10.00,2022-03-05
27,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,13.10,2017-02-07,NaT,K,Partner,OWN,TRECEIPT,...,0.00,3.00,0.00,0.00,0.00,0.00,0.00,0.00,10.00,2023-03-05
28,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,14.10,2017-11-21,NaT,O,Own,OWN,TRECEIPT,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,10.00,2022-04-05

----------------------------PERFORMANCE RAW DATA----------------------------

,ACCOUNT_RK,FINANCIAL_APPLICATION_RK,OPEN_DT,ACCOUNT_STATUS_CD,X_RNR_CD,PAYMENT_TIME_FREQUENCY_CD,X_ECCRIS_DIA,X_INSTALLMENT_IN_ARREARS,X_IMPAIRED_FLG,d_pou
0,8565,8590626,2003-11-05 00:00:00,O,NaN,1,51,2,NaN,2019-07-31
1,8565,8590626,2003-11-05 00:00:00,O,NaN,1,79,3,NaN,2019-08-31
2,8565,8590626,2003-11-05 00:00:00,O,NaN,1,48,2,NaN,2019-09-30
3,8565,8590626,2003-11-05 00:00:00,O,NaN,1,19,1,NaN,2019-10-31
4,8565,8590626,2003-11-05 00:00:00,O,NaN,1,50,2,NaN,2019-11-30
...,...,...,...,...,...,...,...,...,...,...
239,6275120,9876543,25/5/2017,O,NaN,1,0,0,N,2023-10-31
240,6275120,9876543,25/5/2017,O,NaN,1,0,0,N,2023-11-30
241,6275120,9876543,25/5/2017,O,NaN,1,0,0,N,2023-12-31
242,6275120,9876543,25/5/2017,O,NaN,1,0,0,N,2024-01-31
243,6275120,9876543,25/5/2017,O,NaN,1,0,0,N,2024-02-29

# Data Cleaning
## Dataset 1 - Facility Data

In [3]:
# Create facility_df_summary
facility_df_summary = facility_df.groupby('FINANCIAL_APPLICATION_RK').agg(
    APPLIED_AMT_TOTAL=('APPLIED_AMT', 'sum'),
    APPROVED_LOAN_AMT_TOTAL=('APPROVED_LOAN_AMT', 'sum')
).reset_index()

# Left join facility_df_summary back into the original facility_df
facility_df = facility_df.merge(facility_df_summary, on = 'FINANCIAL_APPLICATION_RK', how = 'left')

# Keep the first record for each FINANCIAL_APPLICATION_RK after sorting
facility_df = facility_df.sort_values(by=['FINANCIAL_APPLICATION_RK', 'FACILITY_ID']).drop_duplicates(subset = 'FINANCIAL_APPLICATION_RK', keep = 'first')

print("----------------------------Final Facility Data----------------------------")
display(facility_df)

facility_df.to_csv('facility_data_python.csv', index = False)

----------------------------Final Facility Data----------------------------

,FINANCIAL_APPLICATION_RK,FACILITY_ID,APPROVED_BY,FACILITY_DESC,APPLIED_AMT,APPROVED_LOAN_AMT,LOAN_TERM_MTHS_CNT,FACILITY_STATUS,FACILITY_STATUS_DT,PERF_START_DT,PERF_WINDOW,UPDATE_DTTM,APPLIED_AMT_TOTAL,APPROVED_LOAN_AMT_TOTAL
2,6700942,CCC/000001/26,HO,HP,44600,44600,108,APPROVED,2016-07-12,2016-08-01,36.00,31/7/2016 0:00,44600,44600
0,8590626,AAA/000001/24,HO,BAE AG-I,10000,10000,120,APPROVED,2019-07-25,2019-08-01,24.00,31/7/2019 0:00,10000,10000
3,9590626,DDD/000001/27,BR,HOME EQUITY FINANCING-I/HOMEVR (REDRAW),284687,284687,336,APPROVED,2021-03-04,2021-04-01,12.00,31/3/2021 0:00,336820,332840
6,9876543,FFF/000001/28,HO,FL,1200000,1200000,240,APPROVED,2023-03-23,2023-04-01,6.00,31/3/2023 0:00,1200000,1200000
5,10136613,EEE/000001/28,HO,HL/HOME10 NON PRCB (REDRAW),767111,767111,396,APPROVED,2022-03-11,2022-04-01,18.00,31/3/2022 0:00,767111,767111
1,10137700,BBB/000001/25,BR,HOME EQUITY FINANCING-I/HOMEVR (REDRAW),250126,250126,396,APPROVED,2022-01-01,2022-01-01,12.00,31/1/2022 0:00,250126,250126
7,12345678,GGG/000001/28,HO,BG/SWIFFT,150000,150000,36,REJECTED BY CUSTOMER,2024-01-17,NaT,NaN,31/1/2024 0:00,150000,150000

## Dataset 2 - Applicant Data

In [4]:
# To check data types and ensure data types as per requirement
print(applicant_df.dtypes)

# Calculate the age
applicant_df['AGE'] = applicant_df['X_UPDATE_DTTM'].dt.year - applicant_df['BIRTH_DT'].dt.year

# To ensure the specified columns are float
float_columns = [
    'X_BASIC_INCOME_AMT',
    'X_FIXED_ALLOWANCE_AMT',
    'X_TOTAL_VARIABLE_INCOME_AMT',
    'X_VARIABLE_OVERTIME_AMT',
    'X_TAX_AMT',
    'X_STATUTORY_DEDUCTIONS_EPF',
    'X_STATUTORY_DEDUCTIONS_SOCSO'
]

# Convert the specified columns to float
applicant_df[float_columns] = applicant_df[float_columns].astype(float)

# Replace missing values with 0 in the specified columns
applicant_df[float_columns] = applicant_df[float_columns].fillna(0)
applicant_df['NET_INCOME'] = (
    applicant_df["X_BASIC_INCOME_AMT"] + 
    applicant_df["X_FIXED_ALLOWANCE_AMT"] + 
    applicant_df["X_TOTAL_VARIABLE_INCOME_AMT"] + 
    applicant_df["X_VARIABLE_OVERTIME_AMT"] - 
    applicant_df["X_TAX_AMT"] - 
    applicant_df["X_STATUTORY_DEDUCTIONS_EPF"] - 
    applicant_df["X_STATUTORY_DEDUCTIONS_SOCSO"]
)

# Derive EMPLOYMENT_YEARS_CNT
def calculate_employment_years(row):
    if row['X_GAP_CURR_PREV_EMPLOY_MTH_CNT'] <= 12:
        return row['CURR_EMPLOYMENT_YEARS_CNT'] + row['X_PREV_EMPLOY_YEARS_CNT']
    else:
        return row['CURR_EMPLOYMENT_YEARS_CNT']

applicant_df['EMPLOYMENT_YEARS_CNT'] = applicant_df.apply(calculate_employment_years, axis = 1)

# Check if X_ASCORE_SEQ in applicant data is also in bureau data
applicant_df['linkage'] = applicant_df['X_ASCORE_SEQ'].isin(bureau_raw['X_ASCORE_SEQ'])

# Derive CCRIS_IND
def result(row):
    if pd.notnull(row['X_ASCORE_SEQ']):
        if row['linkage']:
            return 'With CCRIS Commitment'
        else:
            return 'Linkage Issues'
    else:
        return 'Without CCRIS Commitment'

applicant_df['CCRIS_IND'] = applicant_df.apply(result, axis=1)

# Sort X_UPDATE_DTTM in decending order and set FINANCIAL_APPLICATION_RK as index to remove duplicate APPLICANT_RK
applicant_df = applicant_df.sort_values(by = ['X_UPDATE_DTTM'], ascending = False).drop_duplicates(subset = 'APPLICANT_RK', keep = 'first').drop(columns = ['linkage'])

print("----------------------------Final Applicant Data----------------------------")
display(applicant_df)
applicant_df.to_csv('applicant_data_python.csv', index = False)

FINANCIAL_APPLICATION_RK                   int64
APPLICANT_RK                               int64
X_APPLICANT_TYPE                          object
BIRTH_DT                          datetime64[ns]
GENDER_CD                                 object
X_APPLICANT_LOCATION                      object
PRIMARY_CITIZENSHIP_COUNTRY_CD            object
MARITAL_STATUS_CD                         object
X_NATURE_OF_JOB                           object
X_OCCUPATION                              object
EMPLOYMENT_POSITION_STATUS                object
X_BASIC_INCOME_AMT                       float64
X_FIXED_ALLOWANCE_AMT                    float64
X_TOTAL_VARIABLE_INCOME_AMT              float64
X_VARIABLE_OVERTIME_AMT                  float64
X_TAX_AMT                                float64
X_STATUTORY_DEDUCTIONS_EPF               float64
X_STATUTORY_DEDUCTIONS_SOCSO             float64
CURR_EMPLOYMENT_YEARS_CNT                  int64
X_PREV_EMPLOY_YEARS_CNT                  float64
X_GAP_CURR_PREV_EMPLOY_MTH_CNT           float64
X_ASCORE_SEQ                              object
X_MASCO_OCCUPAT_CD                       float64
X_UPDATE_DTTM                     datetime64[ns]
dtype: object
----------------------------Final Applicant Data----------------------------

,FINANCIAL_APPLICATION_RK,APPLICANT_RK,X_APPLICANT_TYPE,BIRTH_DT,GENDER_CD,X_APPLICANT_LOCATION,PRIMARY_CITIZENSHIP_COUNTRY_CD,MARITAL_STATUS_CD,X_NATURE_OF_JOB,X_OCCUPATION,...,CURR_EMPLOYMENT_YEARS_CNT,X_PREV_EMPLOY_YEARS_CNT,X_GAP_CURR_PREV_EMPLOY_MTH_CNT,X_ASCORE_SEQ,X_MASCO_OCCUPAT_CD,X_UPDATE_DTTM,AGE,NET_INCOME,EMPLOYMENT_YEARS_CNT,CCRIS_IND
6,9590626,3374152,GUARANTOR,1995-08-25,F,URBAN,SG - SINGAPORE,SINGLE,PROFESSIONAL,DENTISTS,...,3,4.00,12.00,NaN,NaN,2023-09-30,28,12949.00,7.00,Without CCRIS Commitment
1,10136613,5786152,APPLICANT,1984-03-20,M,URBAN,MY - MALAYSIA,MARRIED,SELF-EMPLOYED / BUSINESS OPERATORS WITH SUBSTA...,CAR/ MOTORBIKE WORKSHOPS/ AUTO-PARTS/ AC,...,11,9.00,NaN,20240301112406dc6a1702666045e0b363106850a5539e,1455.00,2022-03-31,38,9502.00,11.00,With CCRIS Commitment
4,10137700,5786164,APPLICANT,1984-03-27,M,URBAN,MY - MALAYSIA,MARRIED,SUPERVISORY / EXECUTIVE / SALES EXECUTIVES / T...,TECHNICIANS - 03136,...,1,6.00,3.00,20240116150210f25c3d4aaca74ccec033fbbc070006,3136.00,2022-01-31,38,6894.00,7.00,With CCRIS Commitment
5,10137700,8715233,APPLICANT,1970-08-01,F,URBAN,MY - MALAYSIA,SINGLE,SELF-EMPLOYED / BUSINESS OPERATORS WITHOUT SUB...,SOLE-PROPRIETOR,...,15,NaN,NaN,NaN,NaN,2022-01-31,52,15000.00,15.00,Without CCRIS Commitment
3,8590626,5786162,APPLICANT,1984-03-26,M,URBAN,MY - MALAYSIA,MARRIED,CRAFT / SEMI-SKILLED WORKERS / CLERICAL / SERV...,GENERAL OFFICE CLERKS - 04110,...,13,NaN,NaN,NaN,4110.00,2020-04-30,36,5411.00,13.00,Without CCRIS Commitment
7,9590626,1786162,APPLICANT,1984-03-26,M,NON-URBAN,MY - MALAYSIA,MARRIED,CRAFT / SEMI-SKILLED WORKERS / CLERICAL / SERV...,GENERAL OFFICE CLERKS - 04110,...,13,NaN,NaN,20240116150217ae74e0f25c3d474ccec033fbbc070004,4110.00,2020-03-31,36,4411.00,13.00,With CCRIS Commitment
0,6700942,4309779,APPLICANT,1965-10-25,F,NON-URBAN,MY - MALAYSIA,SINGLE,MANAGERIAL,CLERICAL/NON CLERICAL,...,15,NaN,NaN,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,NaN,2016-07-31,51,2820.76,15.00,With CCRIS Commitment

## Dataset 3 - Bureau Data

In [5]:
# Convert the specified columns to string
bureau_df['LEGAL_STATUS_CD'] = bureau_df['LEGAL_STATUS_CD'].astype(str)

# To check data types and ensure data types as per requirement
display(bureau_df.dtypes)

# Derive FACILITY_NO
bureau_df['FACILITY_NO'] = bureau_df.groupby(['X_ASCORE_SEQ', 'SECTION_KEY', 'ROW_NO']).cumcount() + 1

# Derive CC_LE1000
def credit_card_less1000(row):
    if row['SECTION_KEY'] == "Outstanding Credit":
        if row['FACILITY_CD'] == "CRDTCARD" and row['BALANCE_AMT'] <= 1000:
            return "Y"

bureau_df['CC_LE1000'] = bureau_df.apply(credit_card_less1000, axis = 1)

# Derive WEIGHTED_AVG_LIMIT_AMT
bureau_df['SUM_BALANCE'] = bureau_df.groupby(['X_ASCORE_SEQ', 'SECTION_KEY', 'ROW_NO'])['BALANCE_AMT'].transform('sum')
# nunique computes how many unique values within each group defined
bureau_df['TOTAL_FACILITY_NO'] = bureau_df.groupby(['X_ASCORE_SEQ', 'SECTION_KEY', 'ROW_NO'])['FACILITY_NO'].transform('nunique')
# assign new as a column, then group by new to do
bureau_df['TOTAL_CC_NO'] = bureau_df.assign(new = bureau_df['FACILITY_NO'].where(bureau_df.FACILITY_CD.eq('CRDTCARD'))).groupby(['X_ASCORE_SEQ', 'SECTION_KEY', 'ROW_NO'])['new'].transform('nunique')
bureau_df['TOTAL_BALANCE_0'] = bureau_df.assign(new = bureau_df['FACILITY_NO'].where(bureau_df.BALANCE_AMT.eq(0))).groupby(['X_ASCORE_SEQ', 'SECTION_KEY', 'ROW_NO'])['new'].transform('nunique')

def compute_weighted_avg_limit_amt(row):
    if row['SECTION_KEY'] == "Outstanding Credit":
        if row['TOTAL_FACILITY_NO'] == 1:
            # Only one FACILITY_NO within ROW_NO
            return row['LIMIT_AMT']
        elif row['TOTAL_FACILITY_NO'] == row['TOTAL_BALANCE_0']:
            # All FACILITY_NO within ROW_NO have BALANCE_AMT = 0
            return row['LIMIT_AMT'] / row['TOTAL_FACILITY_NO']
        elif row['TOTAL_FACILITY_NO'] == row['TOTAL_CC_NO'] and row['SUM_BALANCE'] < row['LIMIT_AMT']:
            # All FACILITY_NO within ROW_NO have FACILITY_CD = CRDTCARD
            return row['BALANCE_AMT'] / row['SUM_BALANCE'] * row['LIMIT_AMT']
    else:
        return np.nan

# Apply the function
bureau_df['WEIGHTED_AVG_LIMIT_AMT'] = bureau_df.apply(compute_weighted_avg_limit_amt, axis = 1)
bureau_df = bureau_df.drop(['SUM_BALANCE', 'TOTAL_FACILITY_NO', 'TOTAL_CC_NO', 'TOTAL_BALANCE_0'], axis = 1)

# Derive APP_MONTH_ON_BOOK
def diff_in_months(row):
    return (row['Bureau_Report_Pull_Dt'].year - row['APPROVAL_DT'].year) * 12 + row['Bureau_Report_Pull_Dt'].month - row['APPROVAL_DT'].month

bureau_df['APP_MONTH_ON_BOOK'] = bureau_df.apply(diff_in_months, axis = 1) + 1

# List to store the column names
months = [f'ACCOUNT_CONDUCT_M{i}' for i in range(1, 13)]

# Create a new column MAX_DELINQ with maximum value from columns ACCOUNT_CONDUCT_M1 to ACCOUNT_CONDUCT_M12
def max_delinquency(row):
    global months
    if row['SECTION_KEY'] == "Outstanding Credit":
        return row[months].max()

bureau_df['MAX_DELINQ'] = bureau_df.apply(max_delinquency, axis = 1)
# bureau_df['MAX_DELINQ'] = filtered_bureau[months].max(axis = 1)

# Derive DOUBLE2
def count_consecutive_doubles(row):
    global months
    if row[months].isna().all():
        return np.nan
    double2 = 0
    i = 0
    while i < len(months) - 1:
        if row[months[i]] >= 2 and row[months[i+1]] >= 2:
            double2 += 1
            i += 2
        else:
            i += 1
    return double2

bureau_df['DOUBLE2'] = bureau_df.apply(count_consecutive_doubles, axis = 1)

# Derive TRIPLE2
def count_once_triple2(row):
    global months
    if row[months].isna().all():
        return np.nan
    triple2 = 0
    i = 0
    while i < len(months) - 1:
        if row[months[i]] >= 2 and row[months[i+1]] >= 2 and row[months[i+2]] >= 2:
            triple2 = 1
            i += 3
        else:
            i += 1
    return triple2

bureau_df['TRIPLE2'] = bureau_df.apply(count_once_triple2, axis = 1)

# Derive MTH_SNC_MAX_DLQ
def calculate_mth_snc_max_dlq(row):
    conduct_values = row[months].values
    non_null_indices = [i for i, val in enumerate(conduct_values) if pd.notnull(val)]
    if not non_null_indices:
        return np.nan
    first_non_null_month = non_null_indices[0]
    
    if row["MAX_DELINQ"] == 0:
        return 12
    
    max_delinquency_month = next(i for i, val in enumerate(conduct_values) if val == row["MAX_DELINQ"])
    return max_delinquency_month - first_non_null_month

bureau_df['MTH_SNC_MAX_DLQ'] = bureau_df.apply(calculate_mth_snc_max_dlq, axis = 1)

# Derive SUM_DOUBLE2
bureau_df_agg = bureau_df.groupby('X_ASCORE_SEQ').agg(SUM_DOUBLE2=('DOUBLE2', 'sum')).reset_index()
bureau_df_agg = bureau_df.merge(bureau_df_agg, on = 'X_ASCORE_SEQ', how = 'left')

print("----------------------------Final Bureau Data----------------------------")
display(bureau_df_agg)
bureau_df_agg.to_csv('bureau_data_python.csv', index = False)

X_ASCORE_SEQ                          object
Bureau_Report_Pull_Dt         datetime64[ns]
SECTION_KEY                           object
ROW_NO                               float64
APPROVAL_DT                   datetime64[ns]
RNR_DT                        datetime64[ns]
ADDITIONAL_STS_CD                     object
CAPACITY                              object
LENDER_TYPE                           object
FACILITY_CD                           object
BALANCE_AMT                          float64
BALANCE_UPDATED_DT            datetime64[ns]
LIMIT_AMT                            float64
INSTALLMENT AMT                      float64
ADDITIONAL_REPAYMENT_TERM             object
ADDITIONAL_COLLATERAL_TYPE            object
ACCOUNT_CONDUCT_M1                   float64
ACCOUNT_CONDUCT_M2                   float64
ACCOUNT_CONDUCT_M3                   float64
ACCOUNT_CONDUCT_M4                   float64
ACCOUNT_CONDUCT_M5                   float64
ACCOUNT_CONDUCT_M6                   float64
ACCOUNT_CONDUCT_M7                   float64
ACCOUNT_CONDUCT_M8                   float64
ACCOUNT_CONDUCT_M9                   float64
ACCOUNT_CONDUCT_M10                  float64
ACCOUNT_CONDUCT_M11                  float64
ACCOUNT_CONDUCT_M12                  float64
LEGAL_STATUS_CD                       object
LEGAL_STATUS_DT               datetime64[ns]
dtype: object

----------------------------Final Bureau Data----------------------------

,X_ASCORE_SEQ,Bureau_Report_Pull_Dt,SECTION_KEY,ROW_NO,APPROVAL_DT,RNR_DT,ADDITIONAL_STS_CD,CAPACITY,LENDER_TYPE,FACILITY_CD,...,LEGAL_STATUS_DT,FACILITY_NO,CC_LE1000,WEIGHTED_AVG_LIMIT_AMT,APP_MONTH_ON_BOOK,MAX_DELINQ,DOUBLE2,TRIPLE2,MTH_SNC_MAX_DLQ,SUM_DOUBLE2
0,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,2022-10-25 10:28:25,Application for Credit,1.00,2022-10-18,NaT,P,Own,CB,NaN,...,NaT,1,None,NaN,1,NaN,NaN,NaN,NaN,7.00
1,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,2022-10-25 10:28:25,Outstanding Credit,1.00,2006-04-23,NaT,O,Own,CB,CRDTCARD,...,2013-12-18,1,Y,15000.00,199,2.00,2.00,0.00,1.00,7.00
2,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,2022-10-25 10:28:25,Outstanding Credit,2.00,2016-11-24,NaT,O,Own,CB,CRDTCARD,...,NaT,1,None,14776.42,72,2.00,1.00,1.00,2.00,7.00
3,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,2022-10-25 10:28:25,Outstanding Credit,2.00,2016-11-24,NaT,O,Own,CB,CRDTCARD,...,NaT,2,Y,223.58,72,0.00,0.00,0.00,12.00,7.00
4,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,2022-10-25 10:28:25,Outstanding Credit,3.00,2017-03-07,NaT,O,Own,OWN,HSLNFNCE,...,NaT,1,None,664000.00,68,1.00,0.00,0.00,7.00,7.00
5,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,2022-10-25 10:28:25,Outstanding Credit,4.00,2017-06-09,NaT,O,Own,CB,OVRDRAFT,...,NaT,1,None,1276848.00,65,0.00,0.00,0.00,12.00,7.00
6,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,2022-10-25 10:28:25,Outstanding Credit,5.00,2017-11-30,NaT,O,Own,CB,HSLNFNCE,...,NaT,1,None,887079.00,60,7.00,3.00,1.00,7.00,7.00
7,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,2022-10-25 10:28:25,Outstanding Credit,6.00,2021-07-05,2022-06-30,C,Own,CB,HSLNFNCE,...,NaT,1,None,952000.00,16,2.00,1.00,0.00,6.00,7.00
8,20240301112406dc6a1702666045e0b363106850a5539e,2023-10-25 00:00:00,Special Attention Account,1.00,2014-02-06,NaT,W,Own,OTH,BACUSPCH,...,NaT,1,None,NaN,117,NaN,NaN,NaN,NaN,0.00
9,20240116150217ae74e0f25c3d474ccec033fbbc070004,2023-10-31 00:00:10,Application for Credit,1.00,2023-06-20,NaT,P,Own,RCB,NaN,...,NaT,1,None,NaN,5,NaN,NaN,NaN,NaN,1.00
10,20240116150217ae74e0f25c3d474ccec033fbbc070004,2023-10-31 00:00:10,Outstanding Credit,1.00,2016-12-14,NaT,O,Own,RCB,OTLNFNCE,...,NaT,1,None,36248.00,83,2.00,1.00,1.00,4.00,1.00
11,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,1.10,2008-01-05,NaT,O,Own,OWN,RVVGCRDT,...,NaT,1,None,50000.00,193,3.00,0.00,0.00,5.00,0.00
12,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,1.20,2008-01-05,NaT,O,Own,OWN,RVVGCRDT,...,2022-07-08,1,None,50000.00,193,0.00,0.00,0.00,12.00,0.00
13,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,2.10,2009-05-06,NaT,O,Own,OWN,TRECEIPT,...,NaT,1,None,349206.00,177,3.00,0.00,0.00,4.00,0.00
14,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,2.20,2009-05-06,NaT,O,Own,RCB,TRECEIPT,...,2021-08-08,1,None,349206.00,177,0.00,0.00,0.00,12.00,0.00
15,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,3.10,2010-08-26,NaT,O,Own,OWN,TRECEIPT,...,NaT,1,None,40000.00,162,2.00,0.00,0.00,0.00,0.00
16,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,3.20,2010-08-26,NaT,O,Prof,RMB,TRECEIPT,...,2022-09-09,1,None,40000.00,162,0.00,0.00,0.00,12.00,0.00
17,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,4.10,2012-01-16,NaT,O,Own,OWN,TRECEIPT,...,2021-01-05,1,None,121931.00,145,1.00,0.00,0.00,0.00,0.00
18,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,4.20,2012-01-16,NaT,O,Sole,OWN,TRECEIPT,...,2021-01-07,1,None,121931.00,145,0.00,0.00,0.00,12.00,0.00
19,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,5.10,2013-06-19,NaT,O,Own,Own,FLRSTCKG,...,NaT,1,None,50000.00,128,1.00,0.00,0.00,1.00,0.00
20,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,6.10,2013-07-03,NaT,O,Own,OWN,FLRSTCKG,...,NaT,1,None,189180.00,127,1.00,0.00,0.00,0.00,0.00
21,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,7.10,2013-07-03,NaT,O,Own,OWN,FACTORNG,...,NaT,1,None,85400.00,127,1.00,0.00,0.00,0.00,0.00
22,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,8.10,2013-08-06,NaT,K,Own,OWN,RVVGCRDT,...,NaT,1,None,244326.00,126,0.00,0.00,0.00,12.00,0.00
23,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,9.10,2013-06-14,NaT,K,Joint,OWN,RVVGCRDT,...,NaT,1,None,193050.00,128,3.00,0.00,0.00,4.00,0.00
24,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,10.10,2014-07-02,NaT,O,Own,OWN,RVVGCRDT,...,2022-01-05,1,None,398932.00,115,0.00,0.00,0.00,12.00,0.00
25,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,11.10,2014-07-04,NaT,O,Joint,OWN,FACTORNG,...,2022-03-05,1,None,202192.00,115,0.00,0.00,0.00,12.00,0.00
26,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,12.10,2014-11-03,NaT,O,Own,OWN,TRECEIPT,...,2022-03-05,1,None,339247.00,111,0.00,0.00,0.00,12.00,0.00
27,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,13.10,2017-02-07,NaT,K,Partner,OWN,TRECEIPT,...,2023-03-05,1,None,2285336.00,84,3.00,0.00,0.00,4.00,0.00
28,20240116150210f25c3d4aaca74ccec033fbbc070006,2024-01-02 00:00:00,Outstanding Credit,14.10,2017-11-21,NaT,O,Own,OWN,TRECEIPT,...,2022-04-05,1,None,203248.00,75,0.00,0.00,0.00,12.00,0.00

## Dataset 4 - Performance Data

In [6]:
performance_df['OPEN_DT'] = pd.to_datetime(performance_df['OPEN_DT'])

# To check data types and ensure data types as per requirement
display(performance_df.dtypes)

# Derive GB_IND
def good_bad_indicator(row):
    if row['ACCOUNT_STATUS_CD'] == "W":
        return "Written-Off"
    if row['ACCOUNT_STATUS_CD'] in ("C", "T"):
        return "Restructuring & Rescheduling (R&R)"
    if row['ACCOUNT_STATUS_CD'] == "K":
        return "AKPK"
    if row['X_IMPAIRED_FLG'] == "Y":
        return "Impaired Loans"    
    if row['PAYMENT_TIME_FREQUENCY_CD'] in (1, 6) and row['X_ECCRIS_DIA'] >= 90:
        return "DIA >= 90"
    else:
        return "N"

performance_df['GB_IND'] = performance_df.apply(good_bad_indicator, axis = 1)

# Bring over PERF_START_DT and PERF_WINDOW from Facility Data
new_facility_df = facility_df[['FINANCIAL_APPLICATION_RK', 'PERF_START_DT', 'PERF_WINDOW']]
performance_df = performance_df.merge(new_facility_df, on = 'FINANCIAL_APPLICATION_RK', how = 'left')

# Derive PERF_END_DT
performance_df['PERF_END_DT'] = performance_df.apply(lambda row: row['PERF_START_DT'] + pd.DateOffset(months=row['PERF_WINDOW']), axis=1)

# Filter rows where d_pou is not within the PERF_START_DT and PERF_END_DT
performance_df = performance_df[(performance_df['d_pou'] >= performance_df['PERF_START_DT']) & (performance_df['d_pou'] <= performance_df['PERF_END_DT'])]

# The given dictionary for mapping GB_IND to ranks
gb_ind_dict = {
    'Written-Off': 1,
    'Restructuring & Rescheduling (R&R)': 2,
    'AKPK': 3,
    'Impaired Loans': 4,
    'DIA >= 90': 5,
    'N': 6
}

# Derive GB_IND_RANK column using the dictionary
performance_df['GB_IND_RANK'] = performance_df['GB_IND'].map(gb_ind_dict)
display(performance_df)

# Aggregate to ACCOUNT_RK level by keeping the row with the lowest GB_IND_RANK for each ACCOUNT_RK
performance_df_agg = performance_df.loc[performance_df.groupby('ACCOUNT_RK')['GB_IND_RANK'].idxmin()]

print("----------------------------Final Performance Data----------------------------")
display(performance_df_agg)
performance_df_agg.to_csv('performance_data_python.csv', index = False)

ACCOUNT_RK                            int64
FINANCIAL_APPLICATION_RK              int64
OPEN_DT                      datetime64[ns]
ACCOUNT_STATUS_CD                    object
X_RNR_CD                             object
PAYMENT_TIME_FREQUENCY_CD             int64
X_ECCRIS_DIA                          int64
X_INSTALLMENT_IN_ARREARS              int64
X_IMPAIRED_FLG                       object
d_pou                        datetime64[ns]
dtype: object

,ACCOUNT_RK,FINANCIAL_APPLICATION_RK,OPEN_DT,ACCOUNT_STATUS_CD,X_RNR_CD,PAYMENT_TIME_FREQUENCY_CD,X_ECCRIS_DIA,X_INSTALLMENT_IN_ARREARS,X_IMPAIRED_FLG,d_pou,GB_IND,PERF_START_DT,PERF_WINDOW,PERF_END_DT,GB_IND_RANK
1,8565,8590626,2003-11-05,O,NaN,1,79,3,NaN,2019-08-31,N,2019-08-01,24.00,2021-08-01,6
2,8565,8590626,2003-11-05,O,NaN,1,48,2,NaN,2019-09-30,N,2019-08-01,24.00,2021-08-01,6
3,8565,8590626,2003-11-05,O,NaN,1,19,1,NaN,2019-10-31,N,2019-08-01,24.00,2021-08-01,6
4,8565,8590626,2003-11-05,O,NaN,1,50,2,NaN,2019-11-30,N,2019-08-01,24.00,2021-08-01,6
5,8565,8590626,2003-11-05,O,NaN,1,19,1,NaN,2019-12-31,N,2019-08-01,24.00,2021-08-01,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,6275120,9876543,2017-05-25,O,NaN,1,0,0,N,2023-05-31,N,2023-04-01,6.00,2023-10-01,6
235,6275120,9876543,2017-05-25,O,NaN,1,0,0,N,2023-06-30,N,2023-04-01,6.00,2023-10-01,6
236,6275120,9876543,2017-05-25,O,NaN,1,0,0,N,2023-07-31,N,2023-04-01,6.00,2023-10-01,6
237,6275120,9876543,2017-05-25,O,NaN,1,0,0,N,2023-08-31,N,2023-04-01,6.00,2023-10-01,6
238,6275120,9876543,2017-05-25,O,NaN,1,0,0,N,2023-09-30,N,2023-04-01,6.00,2023-10-01,6

----------------------------Final Performance Data----------------------------

,ACCOUNT_RK,FINANCIAL_APPLICATION_RK,OPEN_DT,ACCOUNT_STATUS_CD,X_RNR_CD,PAYMENT_TIME_FREQUENCY_CD,X_ECCRIS_DIA,X_INSTALLMENT_IN_ARREARS,X_IMPAIRED_FLG,d_pou,GB_IND,PERF_START_DT,PERF_WINDOW,PERF_END_DT,GB_IND_RANK
1,8565,8590626,2003-11-05,O,NaN,1,79,3,NaN,2019-08-31,N,2019-08-01,24.00,2021-08-01,6
57,21807,10137700,1998-06-04,C,R,1,28,1,NaN,2022-02-28,Restructuring & Rescheduling (R&R),2022-01-01,12.00,2023-01-01,2
111,40218,6700942,2003-12-19,K,NaN,1,33,2,N,2018-11-30,AKPK,2016-08-01,36.00,2019-08-01,3
183,201613,9590626,2003-09-19,C,R,1,0,0,N,2021-12-31,Restructuring & Rescheduling (R&R),2021-04-01,12.00,2022-04-01,2
221,2028120,10136613,2006-12-14,W,NaN,1,453,15,Y,2023-03-31,Written-Off,2022-04-01,18.00,2023-10-01,1
233,6275120,9876543,2017-05-25,O,NaN,1,0,0,N,2023-04-30,N,2023-04-01,6.00,2023-10-01,6

## Dataset 5 - Final Dataset

In [7]:
# Keep only necessary variables
df1 = facility_df[['FINANCIAL_APPLICATION_RK', 'FACILITY_ID', 'APPROVED_BY', 'APPLIED_AMT', 'APPROVED_LOAN_AMT', 'FACILITY_STATUS', 'FACILITY_STATUS_DT', 'PERF_START_DT', 'PERF_WINDOW']]
df2 = applicant_df[['FINANCIAL_APPLICATION_RK', 'APPLICANT_RK', 'BIRTH_DT', 'AGE', 'GENDER_CD', 'PRIMARY_CITIZENSHIP_COUNTRY_CD', 'X_NATURE_OF_JOB', 'NET_INCOME', 'EMPLOYMENT_YEARS_CNT', 'X_ASCORE_SEQ', 'CCRIS_IND']]
df3 = bureau_df_agg[['X_ASCORE_SEQ', 'SUM_DOUBLE2']]
df4 = performance_df_agg[['FINANCIAL_APPLICATION_RK', 'ACCOUNT_RK', 'GB_IND']]

first = df1.merge(df2, on = 'FINANCIAL_APPLICATION_RK', how = 'left')
second = first.merge(df3, on = 'X_ASCORE_SEQ', how = 'left')
final_df = second.merge(df4, on = 'FINANCIAL_APPLICATION_RK', how = 'left').drop_duplicates(subset=['FINANCIAL_APPLICATION_RK', 'X_ASCORE_SEQ'])

print("----------------------------Final Dataset----------------------------")
display(final_df)
final_df.to_csv('final_data_python.csv', index = False)

----------------------------Final Dataset----------------------------

,FINANCIAL_APPLICATION_RK,FACILITY_ID,APPROVED_BY,APPLIED_AMT,APPROVED_LOAN_AMT,FACILITY_STATUS,FACILITY_STATUS_DT,PERF_START_DT,PERF_WINDOW,APPLICANT_RK,...,GENDER_CD,PRIMARY_CITIZENSHIP_COUNTRY_CD,X_NATURE_OF_JOB,NET_INCOME,EMPLOYMENT_YEARS_CNT,X_ASCORE_SEQ,CCRIS_IND,SUM_DOUBLE2,ACCOUNT_RK,GB_IND
0,6700942,CCC/000001/26,HO,44600,44600,APPROVED,2016-07-12,2016-08-01,36.00,4309779.00,...,F,MY - MALAYSIA,MANAGERIAL,2820.76,15.00,2024041913221224550b4f00fe490d85ec7472e1b9cf5f,With CCRIS Commitment,7.00,40218.00,AKPK
8,8590626,AAA/000001/24,HO,10000,10000,APPROVED,2019-07-25,2019-08-01,24.00,5786162.00,...,M,MY - MALAYSIA,CRAFT / SEMI-SKILLED WORKERS / CLERICAL / SERV...,5411.00,13.00,NaN,Without CCRIS Commitment,NaN,8565.00,N
9,9590626,DDD/000001/27,BR,284687,284687,APPROVED,2021-03-04,2021-04-01,12.00,3374152.00,...,F,SG - SINGAPORE,PROFESSIONAL,12949.00,7.00,NaN,Without CCRIS Commitment,NaN,201613.00,Restructuring & Rescheduling (R&R)
10,9590626,DDD/000001/27,BR,284687,284687,APPROVED,2021-03-04,2021-04-01,12.00,1786162.00,...,M,MY - MALAYSIA,CRAFT / SEMI-SKILLED WORKERS / CLERICAL / SERV...,4411.00,13.00,20240116150217ae74e0f25c3d474ccec033fbbc070004,With CCRIS Commitment,1.00,201613.00,Restructuring & Rescheduling (R&R)
12,9876543,FFF/000001/28,HO,1200000,1200000,APPROVED,2023-03-23,2023-04-01,6.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6275120.00,N
13,10136613,EEE/000001/28,HO,767111,767111,APPROVED,2022-03-11,2022-04-01,18.00,5786152.00,...,M,MY - MALAYSIA,SELF-EMPLOYED / BUSINESS OPERATORS WITH SUBSTA...,9502.00,11.00,20240301112406dc6a1702666045e0b363106850a5539e,With CCRIS Commitment,0.00,2028120.00,Written-Off
14,10137700,BBB/000001/25,BR,250126,250126,APPROVED,2022-01-01,2022-01-01,12.00,5786164.00,...,M,MY - MALAYSIA,SUPERVISORY / EXECUTIVE / SALES EXECUTIVES / T...,6894.00,7.00,20240116150210f25c3d4aaca74ccec033fbbc070006,With CCRIS Commitment,0.00,21807.00,Restructuring & Rescheduling (R&R)
32,10137700,BBB/000001/25,BR,250126,250126,APPROVED,2022-01-01,2022-01-01,12.00,8715233.00,...,F,MY - MALAYSIA,SELF-EMPLOYED / BUSINESS OPERATORS WITHOUT SUB...,15000.00,15.00,NaN,Without CCRIS Commitment,NaN,21807.00,Restructuring & Rescheduling (R&R)
33,12345678,GGG/000001/28,HO,150000,150000,REJECTED BY CUSTOMER,2024-01-17,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN